@import "bootstrap/bootstrap.scss";

body {
  background:url("../images/ux_desk.jpg") fixed center no-repeat;
  height: 100%;
  background-size: cover;
}

//offset body from the fixed header
body {
  padding-top: 90px;
  padding-bottom: 90px;
}
//regular text
p {
  font-family: $portfolio-font;
  font-weight: 325;
  font-size: 16px;
}
// header styles
header .container-fluid {
  background-color: $opaque-light-purple;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-bottom: 2px solid $light-purple;
}
// my name in header
header p {
  font-size: 26px;
  font-family: $portfolio-font;
  font-weight: bold;
  color: $purple;
  margin-top: 15px;
  margin-bottom: auto;
  margin-left: 20px;
}
// navbar
.navbar-light .navbar-nav {
  margin-top: 10px;
}
// other pages in nav
.navbar-light .navbar-nav .nav-link{
  font-size: 20px;
  color: $purple;
  text-align: center;
}
//color for other pages when hovered
.navbar-light .navbar-nav .nav-link:hover {
  color: $light-purple;
}
//current page in nav
.navbar-light .navbar-nav .nav-link.active .nav-text {
  border: 1px solid $purple;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: $purple;
  font-weight: bold;
}
//hamburger menu icon
.navbar-light .navbar-toggler {
  border-color: $purple;
}
//page title
h4 {
  font-family: $portfolio-font;
  color: $purple;
  text-align: center;
  margin: 1rem auto;
}
//Home page
#prof_photo {
  margin-bottom: 10px;
}

//Portfolio page
h5 {
  font-family: $portfolio-font;
  color: $purple;
  display: inline-block;
  margin: 0.35rem auto;
}

//line under title
h5:after {
    content:' ';
    display: block;
    border: 0.5px solid black;
    border-radius: 4px;
}

h6 {
  font-family: $portfolio-font;
  color: black;
  text-align: center;
  font-weight: 400;
}

.project {
  border: 1px solid $purple;
  background-color: $gray-200;
  text-align: center;
  box-shadow: 5px 5px 8px darkgray;
  margin-bottom: 1.5rem;
}

div.caption {
  font-family: $portfolio-font;
  font-size: 14px;
  font-weight: 350;
  visibility: hidden;
  position: absolute;
  padding: 0 0.25rem;
  top: 25%;
  right: 0.5%;
}

.project-photo {
  height: 200px;
  width: 200px;
  display: block;
  margin: 0 auto;
  padding: 0.5rem;
}

.project-details {
  visibility: hidden;
  font-family: $portfolio-font;
  color: $purple;
  background-color: white;
  border: 1px solid $purple;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  position: absolute;
  top: 80%;
  left: 43.5%;
}

.project-details:hover {
  text-decoration: none;
  color: $purple;
  background-color: lightgray;
}

//project pages
#back {
  font-family: $portfolio-font;
  color: $purple;
  background-color: white;
  border: 1px solid $purple;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  display: block;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

//Resume page
.download-submit {
  font-family: $portfolio-font;
  color: white;
  background-color: $purple;
  border: 1px solid $purple;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
}

#resume-text {
  text-align: center;
}

#resume-form {
  text-align: center;
}

//Contact page
.form-text {
  color: $purple;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0.25rem;
  margin-right: 0.25rem;
}

form input[type=text] {
  margin-bottom: 0.5rem;
  width: 60vw;
  display: block;
}

#contact-form-div {
  background-image: url("../images/texture_background.jpg");
  background-size: contain;
}

#messagebox {
  width: 60vw;
  height: 25vh;
}

.button-holder {
  text-align: center;
  margin-top: 0;
  height: 10vh;
}

.button-holder a {
  margin-top: 0.5rem;
}

.button-holder a:hover{
  color: lightgray;
  text-decoration: none;
}

//Footer
footer.fixed-bottom {
  background-color: $opaque-light-purple;
  border-top: 2px solid $light-purple;
}

footer.fixed-bottom p {
  margin: 0 auto;
  color: $purple;
}

footer.fixed-bottom span {
  margin: 0.75rem auto;
}

footer.fixed-bottom a.button {
  border: 1px solid $purple;
  border-radius: 50px;
  background-color: white;
  color: $purple;
  margin: 0 1rem;
}

footer.fixed-bottom a.button:hover {
  background-color: $light-purple;
}

#email {
  padding: 0.45rem 0.35rem 0.45rem 0.65rem;
}

#LinkedIn {
  padding: 0.45rem 0.7rem 0.45rem 0.7rem;
}

//change "Jessica Mathis" and about text to be smaller for midsize screen
@media only screen and (min-width: 768px) and (max-width: 992px){
    header p {
      font-size: 32px;
    }
    #about_text {
      font-size: 14px;
    }
    .project-details {
      left: 39%;
    }
    form input[type=text] {
      display: inline;
      width: 40vw;
      margin-top: 0.5rem;
    }
}
//large viewport
@media only screen and (min-width: 992px){
    .project-details {
      left: 40%;
    }
    header p {
      font-size: 34px;
    }
    form input[type=text] {
      display: block;
      width: 40vw;
      margin-top: 0.05rem;
    }
}
