


// header styles
header .container-fluid {
  background-color: lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-bottom: 3px solid $light-purple;
}

header p {
  font-size: 30px;
  font-family: $portfolio-font;
  color: $purple;
}





@import "bootstrap/bootstrap.scss";
