@import "bootstrap/bootstrap.scss";

//offset body from the fixed header. default font for header
body {
  padding-top: 70px;
  padding-bottom: 30px;
  font-family: $portfolio-font;
  font-weight: 300;
}
//regular text
p {
  font-family: sans-serif;
  font-size: 18px;
  color: $dark-gray;
}
// header styles
header .container-fluid {
  padding-top: 2px;
  padding-left: 20px;
  // border-bottom: 1px solid $blue;
  background-color: white;
}
// my name in header
header p {
  font-size: 28px;
  font-family: $portfolio-font;
  color: $blue;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}
// navbar
.navbar-light .navbar-nav {
  margin-top: auto;
}
// other page in nav, not current one
.navbar-light .navbar-nav .nav-link{
  font-size: 22px;
  color: $dark-gray;
  text-align: center;
}
// color for other pages when hovered
.navbar-light .navbar-nav .nav-link:hover {
  color: $blue;
}
//current page in nav
.navbar-light .navbar-nav .nav-link.active .nav-text {
  color: $dark-gray;
}
//line that shows under current page
.navbar-light .navbar-nav .nav-link.active .nav-text:after {
    content:' ';
    display: block;
    border: 1px solid $blue;
    border-radius: 4px;
}
//hamburger menu icon
.navbar-light .navbar-toggler {
  background-color: $blue;
}
//hamburger menu lines
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }
//page title
h1, h3 {
  font-family: $portfolio-font;
  font-weight: 300;
  color: $dark-gray;
  text-align: center;
}
//main heading on home page
h1 {
  margin: 0.5rem auto 0.5rem auto;
  font-size: 3rem;
}

//accent word in page heading
.accent-text {
  color: $blue;
}
//Professional headshot
#prof_photo {
  border-radius: 50%;
  max-height: 19rem;
  max-width: 50%;
  display: block;
  margin: 0 auto;
}
//div that houses professional photo
#prof_photo_div {
  display: flex;
  align-items: center;
  margin: 1rem auto 1.5rem auto;
}
//offsetting about text from vertical line
#about_text {
  margin-left: 0;
  margin-bottom: 0;
}
// div that houses about text
#about_text_div {
  padding-left: 2rem;
  padding-right: 2rem;
}
//display for home page buttons
#buttons_div {
  display: flex;
  justify-content: center;
  align-items: center;
}
//columns for buttons on home page
.button-column {
  text-align: center;
}
//button and link styling on home page
.download-submit {
  display: inline-block;
  font-family: $portfolio-font;
  font-size: 20px;
  font-weight: 300;
  color: $white;
  background-color: $blue;
  border: 1px solid $blue;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 2rem 0rem;
}
// or in between two buttons on home page
#or_text {
  margin: 0;
  font-size: 20px;
  font-family: sans-serif;
  color: $dark-gray;
}
.download-submit:hover {
  text-decoration: none;
  color: white;
  background-color: $dark-gray;
}


//Portfolio page

// project titles
.project p {
  font-family: $portfolio-font;
  font-size: 1.25rem;
  font-weight: 300;
  color: $dark-gray;
  text-decoration: none;
  display: inline-block;
  margin: 0.5rem auto 0rem auto;
}
// my role titles
h6 {
  font-family: $portfolio-font;
  color: $blue;
  text-align: center;
  font-weight: 400;
  margin: 0rem auto 0.5rem auto;
}
//row that all the projects are in
#centered_row {
  margin: auto;
  justify-content: center;
}
.project {
  background-color: $gray-200;
  text-align: center;
  box-shadow: 5px 5px 8px darkgray;
  margin: 1rem;
  max-width: 60%;
}
//photos for projects
.project-photo {
  height: 200px;
  width: 200px;
  display: block;
  margin: 0 auto 1rem auto;
  padding: 0.5rem;
}


//Project Pages

//title of project
.project-header {
  font-size: 30px;
  color: $dark-gray;
}
//divs to hold content within center like title and photo
.project-header-div {
  text-align: center;
  margin-top: 0.5rem;
}
//date, role, work environment info
.project-subheader {
  font-size: 18px;
  color: $dark-gray;
}
//accent text for date, role, work environment
.bold-accent-text {
  color: $blue;
  font-weight: normal;
  margin: 0;
}
//titles for sections on project page
.project-section-title {
  font-size: 26px;
  border-bottom: 2px solid $blue;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
//text for sections on project page
.project-section-details {
  font-size: 16px;
  margin-bottom: 0rem;
}
// button to view the section websites
#section_website_button {
  margin-bottom: 0;
}
// sections that show featured screenshots side by side
.picture-feature{
  text-align: center;
  margin: 1rem;
}
#back {
  font-family: $portfolio-font;
  color: $purple;
  background-color: white;
  border: 1px solid $purple;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  display: block;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}


//Footer
footer.fixed-bottom {
  background-color: white;
  // border-top: 1px solid $blue;
}

footer.fixed-bottom p {
  margin: 0 auto;
  font-family: $portfolio-font;
  color: $dark-gray;
}

footer.fixed-bottom span {
  margin: 0.75rem auto;
}

footer.fixed-bottom a.button {
  border: 1px solid $purple;
  border-radius: 50px;
  background-color: white;
  color: $purple;
  margin: 0 1rem;
}

footer.fixed-bottom a.button:hover {
  background-color: $light-purple;
}

#email {
  padding: 0.45rem 0.35rem 0.45rem 0.65rem;
}

#LinkedIn {
  padding: 0.45rem 0.7rem 0.45rem 0.7rem;
}

//tablet view
@media only screen and (min-width: 768px) and (max-width: 992px){
    //everyone has a story heading
    h1 {
      margin: 0.5rem auto 1.5rem auto;
      font-size: 2.5rem;
    }
    //div that houses professional photo
    #prof_photo_div {
      margin: 0;
    }
    // professional headshot image
    #prof_photo {
      max-width: 75%;
    }
    //about me text
    #about_text {
      font-size: 16px;
      margin-left: 2.75rem;
    }
    // blue line between photo and about text
    #about_text_div {
      border-left: 2px solid $blue;
      padding-left: 15px;
      padding-right: 15px;
    }
}

//large viewport - desktop view
@media only screen and (min-width: 992px){
// Home page
    // everyone has a story heading
    h1 {
      margin: 1.5rem auto 2.5rem auto;
    }
    //div that houses professional photo
    #prof_photo_div {
      margin: 0;
    }
    // professional headshot image
    #prof_photo {
      max-width: 75%;
    }
    // blue line between photo and about text
    #about_text_div {
      border-left: 2px solid $blue;
      padding-left: 15px;
      padding-right: 15px;
    }
    // about me text
    #about_text {
      margin-left: 2.75rem;
    }

}
